:root{
  --line--border--fill: orange;
  --line--border--empty:gray;
}

*{
  box-sizing: border-box;
}

body{
  background-color: white;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
  overflow:hidder;
}

.container{
  text-align:center
}

.progress-container{
  justify-content: space-between;
  position:relative;
  margin-bottom:30px;
  max-width:100%;
  width:400px;
  display:flex;
}

.progress-container::before{
  content:'';
  background-color: var(--line--border--empty);
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height:5px;
  width:100%;
  z-index: -1;
}

.progress{
  background-color:var(--line--border--fill);
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  height:5px;
  width:100%;
  z-index:-1;
  transition:0.4s ease;
}

.circle{
  background-color:white;
  color:white;
  border-radius:50%;
  height:30px;
  width:30px;
  border:3px solid var(--line--border--empty);
  transition: 0.3s ease;
  display:flex;
  align-items:center;
  justify-content:center;
}
.circle.active{
  border-color: var(--line--border--fill);
}

.btn{
  background-color: var(--line--border--fill);
  color:white;
  border:0;
  border-radius:4px;
  height:40px;
  width:80px;
  font-size:16px;
  margin:8px;
  cursor:pointer;
}
.btn:active{
  transform:scale(0.98);
}
.btn:focus{
  outline:0;
}

.btn:disabled{
  background-color:var(--line--border--empty);
  cursor:not-allowed;
}
